.centered {
  background-color: #212529;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 10px;
  box-shadow:  0 0 10px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px 1px rgba(0,0,0,0.6);
  border-radius: 25px;
}

h1 {
  color: white;
}

.parent {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  width: 300px
}
