/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,88,184,1) 35%, rgba(0,212,255,1) 100%);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
